*~

bin/
build/
lib/
msg_gen/
srv_gen/

msg/*Action.msg
msg/*ActionFeedback.msg
msg/*ActionGoal.msg
msg/*ActionResult.msg
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg
msg/_*.py
msgs_stack/ip_msgs/msg/

CMakeLists.txt.user
./*/srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

*/**/src/*/srv/
*/**/src/*/msg//sensor_stack/2014-06-18-03-02-53.bag
/sensor_stack/2014-06-18-03-08-14.bag
/control_system_stack/control_server/parameters/Untitled Document
/sensor_stack/tracks_imu/data.txt
/sensor_stack/tracks_imu/src/test.cpp
/sensor_stack/2014-06-18-03-02-53.bag
