*~

bin/
build/
lib/
msg_gen/
srv_gen/

msg/*Action.msg
msg/*ActionFeedback.msg
msg/*ActionGoal.msg
msg/*ActionResult.msg
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg
msg/_*.py

CMakeLists.txt.user
./*/srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

*/**/src/*/srv/
*/**/src/*/msg/
