<?xml version="1.0"?>
<robot 	xmlns:xi="http://www.w3.org/2001/XInclude"
  		xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz" 
  		xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model" 
  		xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
  		xmlns:window="http://playerstage.sourceforge.net/gazebo/xmlschema/#window" 
  		xmlns:param="http://playerstage.sourceforge.net/gazebo/xmlschema/#param" 
  		xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body" 
  		xmlns:geo="http://willowgarage.com/xmlschema/#geo" 
  		xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom" 
  		xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint" 
  		xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
  		xmlns:ui="http://playerstage.sourceforge.net/gazebo/xmlschema/#ui"
  		xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering" 
  		xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable" 
  		xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  		xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
       	xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<xacro:macro name="dropper" params="parent position *origin">
	  <link name="${position}_dropper">
        <visual>
  		  <geometry>
		    <mesh filename="package://UWSim/kraken/objects/dropper.osg"/>
  		  </geometry>
  		  <origin rpy="0 0 0" xyz="0 0 0"/>
  	    </visual>
        <collision>
          <geometry>
		    <mesh filename="package://UWSim/kraken/objects/dropper.osg"/>
  		  </geometry>
  		  <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
      </link>
      <joint name="${position}_dropper_to_${parent}" type="fixed">
        <parent link="${parent}"/>
        <child link="${position}_dropper"/>
        <insert_block name="origin" />
      </joint>
    </xacro:macro>
</robot>
