<?xml version="1.0"?>
<robot name="kraken">
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://kraken_visualization/kraken/robot/new_model_kraken.3ds"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://kraken_visualization/kraken/robot/new_model_kraken.3ds"/>
      </geometry>
    </collision>
  </link>
  <link name="right_heave_thruster">
  </link>
  <link name="left_heave_thruster">
  </link>
  <link name="right_surge_thruster">
  </link>
  <link name="left_surge_thruster">
  </link>
  <link name="camera_front">
  </link>
  <link name="camera_front_optical">
  </link>
  <link name="camera_bottom">
  </link>
  <link name="camera_bottom_optical">
  </link>
  <link name="imu_link">
  </link>
  <link name= "depth_sensor">
  </link>

  <!--adding DVL sensor-->
  <link name= "dvl_link">
  </link>

  <joint name="depth_sensor_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="depth_sensor"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="-0.302 0.00 -0.03"/>
  </joint>
  <joint name="camera_front_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="camera_front"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 -1.57 0" xyz="0.358 -0.0 -0.13"/>
  </joint>
  <joint name="camera_front_optical_to_base_link" type="fixed">
    <parent link="camera_front"/>
    <child link="camera_front_optical"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 -1.57" xyz="0 0.0 0"/>
  </joint>
  <joint name="camera_bottom_optical_to_base_link" type="fixed">
    <parent link="camera_bottom"/>
    <child link="camera_bottom_optical"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 -1.57" xyz="0 0.0 0"/>
  </joint>
  <joint name="camera_bottom_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="camera_bottom"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 3.14 0" xyz="0.05 -0.0 0.03"/>
  </joint>
  <joint name="imu_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="-0.602 0.00 -0.03"/>
  </joint>
  <joint name="dvl_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="dvl_link"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0 0" xyz="-0.602 0.00 -0.3"/>
  </joint>
  <joint name="right_heave_thruster_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="right_heave_thruster"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0.0 0" xyz="-0.0 -0.17 -0.06"/>
  </joint>
  <joint name="left_heave_thruster_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="left_heave_thruster"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0 0.0 0" xyz="-0.0 0.17 -0.06"/>
  </joint>
  <joint name="right_surge_thruster_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="right_surge_thruster"/>
    <axis xyz="-1 0 0"/>
    <origin rpy="0 0.0 0" xyz="-0.452 -0.17 -0.01"/>
  </joint>
  <joint name="left_surge_thruster_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="left_surge_thruster"/>
    <axis xyz="-1 0 0"/>
    <origin rpy="0 0.0 0" xyz="-0.452 0.17 -0.01"/>
  </joint>
</robot>
