<?xml version="1.0"?>
<robot name = "scene"
 	    xmlns:xi="http://www.w3.org/2001/XInclude"
  		xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz" 
  		xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model" 
  		xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
  		xmlns:window="http://playerstage.sourceforge.net/gazebo/xmlschema/#window" 
  		xmlns:param="http://playerstage.sourceforge.net/gazebo/xmlschema/#param" 
  		xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body" 
  		xmlns:geo="http://willowgarage.com/xmlschema/#geo" 
  		xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom" 
  		xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint" 
  		xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
  		xmlns:ui="http://playerstage.sourceforge.net/gazebo/xmlschema/#ui"
  		xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering" 
  		xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable" 
  		xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  		xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
       	xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <include filename="$(find UWSim)/kraken/scenes/objects/marker.urdf.xacro"/>
  <include filename="$(find UWSim)/kraken/scenes/objects/buoy_blue.urdf.xacro"/>
  <include filename="$(find UWSim)/kraken/scenes/objects/buoy_green.urdf.xacro"/>
  <include filename="$(find UWSim)/kraken/scenes/objects/buoy_red.urdf.xacro"/>
  <include filename="$(find UWSim)/kraken/scenes/objects/shooter.urdf.xacro"/>
  <include filename="$(find UWSim)/kraken/scenes/objects/dropper.urdf.xacro"/>
  <include filename="$(find UWSim)/kraken/scenes/objects/pool.urdf.xacro"/>
  <include filename="$(find UWSim)/kraken/scenes/objects/L_rod.urdf.xacro"/>
  <xacro:pool >
    <origin xyz="0 0 0" rpy="0 0 0.0" />
  </xacro:pool>
  <xacro:marker position = "gate" parent = "pool">
    <origin xyz="0 0 0" rpy="0 0 0.0" />
  </xacro:marker>
  <xacro:buoy_blue position = "gate" parent = "pool">
    <origin xyz="3 3 0" rpy="0 0 0.0" />
  </xacro:buoy_blue>
  <xacro:buoy_green position = "gate" parent = "pool">
    <origin xyz="4 4 0" rpy="0 0 0.0" />
  </xacro:buoy_green>
  <xacro:buoy_red position = "gate" parent = "pool">
    <origin xyz="5 5 0" rpy="0 0 0.0" />
  </xacro:buoy_red>
  <xacro:shooter position = "gate" parent = "pool">
    <origin xyz="6 6 0" rpy="0 0 0.0" />
  </xacro:shooter>
  <xacro:dropper position = "gate" parent = "pool">
    <origin xyz="7 7 0" rpy="0 0 0.0" />
  </xacro:dropper>
  <xacro:L_rod position = "gate" parent = "pool">
    <origin xyz="8 8 0" rpy="0 0 0.0" />
  </xacro:L_rod>
</robot>
